#set($id=$utils.autoId())
{
  "version": "2018-05-29",
  "statements": [
    "INSERT INTO `todo` (ID, text) VALUES (:ID, :TEXT)",
    "SELECT * FROM `todo` WHERE ID = :ID"
  ],
  "variableMap": {
    ":ID": "$id",
    ":TEXT": $utils.toJson($ctx.args.input.text)
  }
}